---
layout: page
title: About Us
navtitle: About
subtitle: The FreeRADIUS Server Project
permalink: /about/
navorder: 500
hero: about

subnav:
 - text: The Project
   link: '#project'
 - text: Usage Statistics
   link: '#usage_statistics'
 - text: Team
   link: '#team'
 - text: Security
   link: '#security'
---
<div class="wrapper" id="project">
	<section class="lg_padding_h base_padding_v">
		<h3 class="section-title text_centered">The FreeRADIUS Server Project</h3>
		<p>FreeRADIUS was founded in June 1999 by Miquel van Smoorenburg and Alan DeKok. The first public "alpha" release of the code was in August 1999, with 0.1 being released in May 2001. Since then, new versions have been released every few months.</p>

		<div class="text_centered lg_padding_h base_padding_v">
			<img src="../img/quote.svg" alt="" class="icon_small">
			<h3>FreeRADIUS is used daily by 100 million people to access the Internet.</h3>
			<img src="../img/octo-bright.svg" alt="" class="icon_medium block">
		</div>

		<p>Since then, the project has grown to include support for more authentication types than any other open source server. It is used daily by <a href="#usage_statistics">100 million people</a> to access the Internet. There are over 50 thousand sites using FreeRADIUS, ranging in size from 10 users to over 10 million users.</p>

		<p>Since its founding, the project has expanded to include a number of other <a href="/sub_projects/">RADIUS related products</a>, including:</p>
		<p>
		<a href="https://github.com/FreeRADIUS/freeradius-client">freeradius-client</a> A BSD licensed RADIUS client library.<br>
		<a href="https://github.com/FreeRADIUS/mod_auth_radius">mod_auth_radius</a> A RADIUS module for Apache 1.x and 2.x.<br>
		<a href="https://github.com/FreeRADIUS/pam_radius">pam_radius_auth</a> A Pluggable Authentication Module (PAM) for RADIUS authenticationand accounting.</p>
	</section>
</div>

<div class="about_stats_bg" id="usage_statistics">
	<div class="wrapper">
		<h2 class="text_centered">By the numbers</h2>
		<p class="text_centered lg_padding_h">We recently commissioned a survey of FreeRADIUS users, in order to see how people are using the server. Here’s what the results showed:</p>
		<div class="row about_stats_tabs">
			<div class="stat-tab" ng-class="{active: trigger_active == '#tab-1'}" tab-trigger ng-click="toggle('#tab-1')" ng-init="trigger_active = '#tab-1'">No. of Users authenticated via FreeRADIUS</div>
			<div class="stat-tab" ng-class="{active: trigger_active == '#tab-2'}" tab-trigger ng-click="toggle('#tab-2')">No. of RADIUS servers at each site</div>
			<div class="stat-tab" ng-class="{active: trigger_active == '#tab-3'}" tab-trigger ng-click="toggle('#tab-3')">Databases where user information is stored</div>
			<div class="stat-tab" ng-class="{active: trigger_active == '#tab-4'}" tab-trigger ng-click="toggle('#tab-4')">Authentication Protocols</div>
			<div class="stat-tab" ng-class="{active: trigger_active == '#tab-5'}" tab-trigger ng-click="toggle('#tab-5')">Other RADIUS Servers</div>
		</div>
	</div>
</div>

<div class="wrapper base_margin_b" content-group>

	<section id="tab-1" tab-content ng-show="active == '#tab-1'" ng-init="active = '#tab-1'">
		<div class="row">
			<div class="columns medium-8">
				<p><span class="emphasis">Most sites using FreeRADIUS are intermediate in size,</span> and are probably running the server in enterprise (i.e. corporate) environments, or in small ISPs. Over 90% of the sites have less than 100,000 users.</p>

			 	<div class="row base_padding_v">
			 		<div class="columns medium-3"><img src="../img/world.svg"></div>
			 		<div class="columns medium-9 h3">FreeRADIUS is responsible for authenticating  a third of all users on the Internet.</div>
			 	</div>

				<p><span class="emphasis">There are a small percentage of sites have over 10,000,000 (that's 10 MILLION) users.</span> When we add up all of the sites, the total comes to about 100,000,000 users who are authenticated via FreeRADIUS. And that number includes only the sites that filled out the survey!</p>

				<p><span class="emphasis">In total it is estimated that FreeRADIUS is responsible for authenticating more than &frac13; of users on the internet.</span> Other users are split between Cisco ACS and Microsoft IAS (each with an equal share); and all the other RADIUS servers combined. </p>
			</div>
			<div class="columns medium-4">
				<h1 class="h5 stats-head text_accent-blue">Number of Users</h1>
				<table class="stats-table">
				<tr><td>1 &ndash; 10</td><td>14&percnt;</td></tr>
				<tr><td>11 &ndash; 100</td><td>17&percnt;</td></tr>
				<tr><td>&hellip; &ndash; 10&Hat;3</td><td>25&percnt;</td></tr>
				<tr><td>&hellip; &ndash; 10&Hat;4</td><td>25&percnt;</td></tr>
				<tr><td>&hellip; &ndash; 10&Hat;5</td><td>13&percnt;</td></tr>
				<tr><td>&hellip; &ndash; 10&Hat;6</td><td>4&percnt;</td></tr>
				<tr><td>&hellip; &ndash; 10&Hat;7</td><td>&lt; 1&percnt;</td></tr>
				<tr><td>10&Hat;7 or more</td><td>1&percnt;</td></tr>
				</table>
			</div>
		</div>
	</section>

	<section id="tab-2" tab-content ng-show="active == '#tab-2'">
		<div class="row">
			<div class="columns medium-8">
				<p><span class="emphasis">Not surprisingly, most sites have a very small number of servers. A few sites (likely the biggest ones) have a large number of servers.</span></p>

				<p>It looks like most sites under 10,000 users have one or two servers. As the number of users grows, so does the number of servers used. A few sites have more than 50 servers, likely because they are placing servers at multiple locations.</p>
			</div>
			<div class="columns medium-4">
				<h1 class="h5 stats-head text_accent-blue">Number of Servers</h1>
				<table class="stats-table">
					<tr><td>1 &ndash; 2</td><td>70&percnt;</td></tr>
					<tr><td>3 &ndash; 5</td><td>19&percnt;</td></tr>
					<tr><td>6 &ndash; 10</td><td>6&percnt;</td></tr>
					<tr><td>11 &ndash; 20</td><td>2&percnt;</td></tr>
					<tr><td>21 or more</td><td>&lt; 2&percnt;</td></tr>
				</table>
			</div>
		</div>
	</section>

	<section id="tab-3" tab-content ng-show="active == '#tab-3'">
		<div class="row">
			<div class="columns medium-8">
				<p><span class="emphasis">Taken together, the various SQL modules account for nearly 50% of deployments.</span> The only surprise is that Active Directory has such a low ranking, as it is the database used in most internal corporate environments. The conclusion that we can reach from this is that the people filling out this survey were probably ISPs and resellers rather than enterprise IT administrators.</p>

				<p>Another conclusion is that if you have to store a few million users in a database, Active Directory probably isn't your first choice.</p>
			</div>
			<div class="columns medium-4">
				<h1 class="h5 stats-head text_accent-blue">Databases used</h1>
				<table class="stats-table">
					<tr><td>MySQL</td><td>32&percnt;</td></tr>
					<tr><td>users file</td><td>22&percnt;</td></tr>
					<tr><td>OpenLDAP</td><td>15&percnt;</td></tr>
					<tr><td>Active Directory</td><td>13&percnt;</td></tr>
					<tr><td>PostgreSQL</td><td>8&percnt;</td></tr>
					<tr><td>Oracle</td><td>5&percnt;</td></tr>
					<tr><td>Other</td><td>&lt;4&percnt;</td></tr>
				</table>
			</div>
		</div>
	</section>

	<section id="tab-4" tab-content ng-show="active == '#tab-4'">
		<div class="row">
			<div class="columns medium-8">
				<p>Most sites are using RADIUS for dial-in user authentication. e.g. Telephone dial-up, ADSL, etc. The number of wireless deployments is large, though, at just over a third. We expect that there will be more new wireless deployments in the future.</p>

				<p>While we haven't broken the numbers out here, PEAP, EAP-TLS, and EAP-TTLS all have about the same share of the wireless space.</p>
			</div>
			<div class="columns medium-4">
				<h1 class="h5 stats-head text_accent-blue">Authentication Protocols</h1>
				<table class="stats-table">
					<tr><td>PAP, etc.</td><td>61&percnt;</td></tr>
					<tr><td>Wireless (EAP)</td><td>35&percnt;</td></tr>
					<tr><td>Digest (VOIP)</td><td>4&percnt;</td></tr>
				</table>
			</div>
		</div>
	</section>

	<section id="tab-5" tab-content ng-show="active == '#tab-5'">
		<div class="row">
			<div class="columns medium-8">
				<p>Not everyone uses FreeRADIUS, so we also asked what other RADIUS servers people have used.</p>

				<p>As mentioned above, ACS and IAS have about an equal market share, and together account for about 50% of other servers. Another 40% is shared pretty much equally between a few well-known RADIUS servers. The last 10% is a jumble of old servers (some very old), or servers that are targetted towards niche markets.</p>

				<p>The numbers for Funk and Radiator are probably too low, because the survey was focussed on sites that have chosen to deploy Open Source. For the same reasons mentioned before, we expect that enterprises who have chosen to use a commercial product have also not filled out the survey.</p>
			</div>
			<div class="columns medium-4">
				<h1 class="h5 stats-head text_accent-blue">Other servers</h1>
				<table class="stats-table">
					<tr><td>Cisco ACS</td><td>24&percnt;</td></tr>
					<tr><td>Microsoft IAS</td><td>23&percnt;</td></tr>
					<tr><td>Cistron</td><td>12&percnt;</td></tr>
					<tr><td>Funk</td><td>11&percnt;</td></tr>
					<tr><td>OpenRADIUS</td><td>10&percnt;</td></tr>
					<tr><td>Radiator</td><td>10&percnt;</td></tr>
					<tr><td>Other</td><td>10&percnt;</td></tr>
				</table>
			</div>
		</div>
	</section>


</div>

<div class="grey-block">
	<div class="wrapper">
		<p class="small-print text_centered lg_padding_h">The survey was commissioned because RADIUS servers are usally hidden inside of private networks (for very good reasons), and are not publicly accessibly like HTTP or DNS servers. That is, <a href="http://httpd.apache.org/">Apache</a> can say that it is the number one HTTP server in the Internet because of public results from <a href="http://news.netcraft.com/archives/web_server_survey.html">Netcraft</a>. In order to get the same data, we have to directly ask site administrators what they are using. The good news is that over 500 responses to the survey were received, with the results as of November 2006 summarized as shown above.</p>
	</div>
</div>

<div class="wrapper lg_padding_v" id="team">
	<h2 class="text_centered">Meet The Team</h2>
	<div class="row base_padding_v">
		<div class="column medium-6">
			<img src="../img/profile-alan.png" class="base_margin_b">
			<h1 class="h4">Alan DeKok <small class="italic text-mid">Project Leader</small></h1>
			<p>Alan Dekok co-founded FreeRADIUS in 1999 and continues to lead the project today. He is recognized as one of the world's leading experts on remote network and AAA frameworks, and he has co-authored numerous AAA and RADIUS related RFCs. Alan is the CEO of <a href="http://networkradius.com/">NetworkRADIUS SARL</a>.</p>
			<a href="https://github.com/alandekok"><img class="icon_xsmall" src="../img/github.svg"></a>
{% comment %}
			<a href="#"><img class="icon_xsmall" src="../img/twitter.svg"></a>
{% endcomment %}
			<a href="http://deployingradius.com/" class="headline-link text-mid uppercase">deployingradius.com/</a>
		</div>
		<div class="column medium-6">
			<img src="../img/profile-arran.png" class="base_margin_b">
			<h1 class="h4">Arran Cudbard-Bell <small class="italic text-mid">Principal Architect</small></h1>
			<p>Arran has a penchant for policy driven networking. He has been a contributor since 2007 and core team member since 2012, and has authored and rewritten many modules. He contributes heavily to code documentation, modernisation, re-architecture, and cleanup efforts. Arran is a member of the Jisc 802.1X SIG, and Director of RM-RF Ltd.</p>
			<a href="https://github.com/arr2036"><img class="icon_xsmall" src="../img/github.svg"></a>
			<a href="https://twitter.com/arr2036"><img class="icon_xsmall" src="../img/twitter.svg"></a>
		</div>
	</div>
	<div class="row base_padding_v">
		<div class="column medium-6">
			<img src="../img/profile-matthew.png" class="base_margin_b">
			<h1 class="h4">Matthew Newton <small class="italic text-mid">Developer</small></h1>
			<p>Matthew likes solving problems. He has contributed to FreeRADIUS since 2011, including modules such as Samba winbind authentication and EAP-TLS improvements, as well as documentation, examples and bug fixes. He has been a core team member since 2016. Matthew is a member of the Jisc 802.1X SIG, and Director of Newton Computing Ltd.</p>
			<a href="https://github.com/mcnewton"><img class="icon_xsmall" src="../img/github.svg"></a>
			<a href="https://twitter.com/mcnewton"><img class="icon_xsmall" src="../img/twitter.svg"></a>
		</div>
		<div class="column medium-6">
			<img src="../img/profile-alex.png" class="base_margin_b">
			<h1 class="h4">Alexander Clouter <small class="italic text-mid">Developer</small></h1>
			<p>Alex is a network and system administrator, as well as a programming language polyglot.  He has been using FreeRADIUS for over a decade, and been a contributor since 2009. His contributions include the supporting code for the EAP-FAST and TACACS+ protocols. Alex is the Director of <a href="https://coremem.com/">coreMem Limited</a>.</p>
			<a href="https://github.com/jimdigriz"><img class="icon_xsmall" src="../img/github.svg"></a>
		</div>
	</div>
{% comment %}
	<img src="../img/team-banner.png">
{% endcomment %}
</div>

<div class="about_team_block">
	<div class="wrapper text-white">
{% comment %}
		<div class="row base_padding_v base_margin_b">
			<div class="column medium-4 italic">Core Team</div>
			<div class="column medium-4 emphasis">Alan DeKok<br>
				Arran Cudbard-Bell</div>
			<div class="column medium-4 emphasis">Matthew Newton</br>
				Alex Clouter</div>
		</div>
{% endcomment %}
	</div>
</div>

<div class="wrapper lg_padding_v" id="security">
	<h3 class="section-title">Security Contact</h3>
	<div class="row">
		<div class="columns medium-8">
			<p>The FreeRADIUS security contact is <a href="mailto:security@freeradius.org">security@freeradius.org</a>. All security related information or notifications should be sent to that address. Security notifications may be signed with the pgp key <a href="pgp/aland@freeradius.org">aland@freeradius.org</a>.</p>

		</div>
		<div class="quick-links columns medium-4 text_accent-blue">
			<a href="/security/">
				<div class="link block">
	                <img src="../img/security.svg" alt="" class="icon">
	                <span class="h5 text-mid">Security issues Updates</span><img class="arrow" src="../img/arrow-right.svg">
	            </div>
            </a>
		</div>
	</div>
</div>
