#
#  Sample Apache configuration file for mirrors
#
#  See also "mirrors.html" in this directory for additional instructions
#  on setting up the mirrored repository.
#
<VirtualHost *>
	ServerAdmin webmaster@MYSITE.freeradius.org
	ServerName MYSITE.freeradius.org
	
	DocumentRoot /PATH/TO/FILES/www.freeradius.org
	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>
	<Directory /PATH/TO/FILES/www.freeradius.org/ >
		Options Indexes MultiViews +Includes
		XBitHack Full
		AllowOverride None
		Order allow,deny
		allow from all
	</Directory>

	ErrorLog /var/LOG/www.freeradius.org-error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog /var/LOG/www.freeradius.org-access.log combined
	ServerSignature Off
</VirtualHost>
