---
layout: default
---
<section class="home_hero bg_block-hero">
    <div class="wrapper">

        <div class="row" content-group ng-init="active = '???'">

            <div class="columns medium-4 text_centered">
                <div class="bg_white block_shadow base_padding home_hero_block" ng-class="{active: active == '#hero-more-2'}">
                    <img class="poke_out icon_large" src="../img/octo-network.svg" alt="">
                    <img class="fish-icon fish-left icon_large" src="/img/fish-left.svg" alt="">
                    <img class="fish-icon fish-right icon_large" src="/img/fish-right.svg" alt="">
                    <p class="h5">Internet Service Providers</p>
                    <p class="h6">Authenticating the Internet, providing centralised subscriber management and billing.</p>
                    <img ng-click="toggle('#hero-more-2', true)" class="icon_small" src="/img/more.svg" alt="">
                    <div id="hero-more-2" class="home_hero_block_overlay block_shadow">
                        <img class="icon_medium" src="/img/icon-telco.svg" alt="">
                        <p class="h5">Internet Service Providers</p>
                        <p>FreeRADIUS authenticates users and tracks accounting data for millions of DSL connections and phones <i>every day</i>.</p>
                        <img ng-click="toggle('#hero-more-2', true)" src="/img/less.svg" alt="" class="icon_small">
                    </div>
                </div>
            </div>

            <div class="columns medium-4 text_centered">
                <div class="bg_white block_shadow base_padding home_hero_block" ng-class="{active: active == '#hero-more-3'}">
                    <img class="poke_out icon_large" src="../img/octo-signal.svg" alt="">
                    <img class="fish-icon fish-left icon_large" src="/img/fish-left.svg" alt="">
                    <img class="fish-icon fish-right icon_large" src="/img/fish-right.svg" alt="">
                    <p class="h5">Enterprise Networks</p>
                    <p class="h6">Securing critical networks and BYOD with smart network access policies, and agentless posture assessment.</p>
                    <img ng-click="toggle('#hero-more-3', true)" class="icon_small" src="../img/more.svg" alt="">

                    <div id="hero-more-3" class="home_hero_block_overlay block_shadow">
                        <img class="icon_medium" src="/img/icon-telco.svg" alt="">
                        <p class="h5">Enterprise Networks</p>
                        <p>Both wired and wireless 802.1X solutions use RADIUS as the backend. From the smallest business to the largest enterprise, IT managers can be found relying on FreeRADIUS everywhere!</p>
                        <img ng-click="toggle('#hero-more-3', true)" src="/img/less.svg" alt="" class="icon_small">
                    </div>
                </div>
            </div>

            <div class="columns medium-4 text_centered">
                <div class="bg_white block_shadow base_padding home_hero_block" ng-class="{active: active == '#hero-more-1'}">
                    <img class="poke_out icon_large" src="/img/octo-grad.svg" alt="">
                    <img class="fish-icon fish-left icon_large" src="/img/fish-left.svg" alt="">
                    <img class="fish-icon fish-right icon_large" src="/img/fish-right.svg" alt="">
                    <p class="h5">Educational Institutions</p>
                    <p class="h6">Controlling access to campus wireless networks and allowing seamless inter-institutional roaming.</p>
                    <img ng-click="toggle('#hero-more-1', true)" class="icon_small" src="../img/more.svg" alt="">

                    <div id="hero-more-1" class="home_hero_block_overlay block_shadow">
                        <img class="icon_medium" src="/img/icon-telco.svg" alt="">
                        <p class="h5">Educational Institutions</p>
                        <p>FreeRADIUS is commonly used in academic wireless networks, especially amongst the <a href="http://www.eduroam.org/">eduroam</a> community.</p>
                        <img ng-click="toggle('#hero-more-1', true)" src="/img/less.svg" alt="" class="icon_small">
                    </div>
                </div>
            </div>

        </div>

        <div class="text_centered base_padding">
            <h1>Fast, feature-rich, modular, and scalable.</h1>
            <h2 class="h3">Get started with the world’s most widely deployed RADIUS server:</h2>
            <a ng-cloak ng-href="/releases/" stable-download class="button bg_accent-green h5">Download {% raw %}{{stableBranch.last_release.name}}{% endraw %}</a>
            <a href="/community/#contributing" class="button bg_accent-green h5">Join the community</a>
        </div>
    </div>
    <div class="wave">
        <img src="../img/wave-mask.svg">
    </div>
</section>

<section class="slider bg_block-dark base_padding_v" ng-controller="GetBranches">
    <div class="owl-carousel">
        <span ng-if="0" ng-repeat-start="release in branches"></span>
        <div class="carousel_item" ng-repeat="branch in release.release">
            <div class="wrapper text_compressed">
                <div class="carousel_item_inner">
                    <div class="carousel_item_icon">
                        <img class="icon_medium" src="../img/news.svg" alt="">
                    </div>
                    <div class="carousel_item_text text_compressed">
                        <p class="h6 text-white">{% raw %}{{branch.date | date : 'yyyy.MM.dd'}}{% endraw %}</p>
                        <h3 class="h4 text-white">Version {% raw %}{{branch.name}}{% endraw %} has been released. <img ng-if="isCritical(branch)" src="../img/alert-grey.svg" alt="Security Update" class="icon_xsmall security carousel_item_icon"></h3>
                        <p class="text-white">{% raw %}{{branch.summary}}{% endraw %}.</p>
                        <a class="undecorate h5 text_accent-blue" ng-href="/release_notes/?br={% raw %}{{release.name}}{% endraw %}&re={% raw %}{{branch.name}}{% endraw %}">View full release notes</a>
                    </div>
                </div>
            </div>
        </div>
        <span ng-if="0" ng-repeat-end></span>
    </div>
</section>

<section class="lg_padding_v bg_block-light inner_padded_blocks">
    <div class="wrapper">
        <div class="row">
            <div class="columns medium-6">
                <div class="inner">
                    <h3 class="h4">Welcome to the FreeRADIUS project, <i>the</i> open source implementation of RADIUS, an IETF protocol for AAA (<a href="http://networkradius.com/blog/security/authorization-authorized-personnel-only/index.html
>Authorisation</a>, <a href="http://networkradius.com/blog/security/authentication-is-it-really-you-part-1-of-our-3-part-series/index.html">Authentication</a>, and <a href="http://networkradius.com/blog/security/accounting-keeping-track-of-it-all-part-3-of-our-3-part-series/index.html">Accounting</a>).</h3>
                    <p>The FreeRADIUS project maintains the following components: a multi protocol policy server (radiusd) that implements RADIUS, DHCP, BFD, and ARP; a <a href="/sub_projects/">BSD licensed RADIUS client library<a/>; a <a href="/sub_projects/">RADIUS PAM</a> library; and an <a href="/sub_projects/">Apache RADIUS</a> module.</p>
                </div>
            </div>
            <div class="columns medium-5 medium-offset-1">
                <div class="inner">
                    <img width="125" src="../img/world.svg" alt="">
                    <h3>FreeRADIUS is responsible for authenticating one third of all users on the Internet.</h3>
                    <a class="h5 undecorate text_accent-blue" href="/about/#usage_statistics">See why we're #1</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text_centered lg_padding_v">
    <div class="wrapper">
        <img class="icon_large" src="../img/octo-construction.svg" alt="">
        <h3 class="h2">Get involved with The FreeRADIUS Server Project</h3>
        <p class="lg_padding_h">Our comprehensive support for protocols, data stores, directories, databases, and language integrations would not be possible without contributions from the community. Open your favourite editor and help us make FreeRADIUS better!</p>
        <div class="row base_padding_v">
            <div class="columns medium-4">
                <img class="icon_medium" src="../img/develop-modules.svg" alt="">
                <p class="h5">Develop new modules</p>
                <p>API documentation, C code examples, and anything else you need to get up-to-speed and writing modules for FreeRADIUS.</p>
                <a class="h5 undecorate text_accent-blue" href="https://github.com/FreeRADIUS/freeradius-server/blob/v4.0.x/doc/developer/coding-methods.rst">View coding styles</a>
            </div>
            <div class="columns medium-4">
                <img class="icon_medium" src="../img/submit-modules.svg" alt="">
                <p class="h5">Submit new modules</p>
                <p>Developed your own module? Great! Submit your code back to the project and have it maintained by the community.</p>
                <a class="h5 undecorate text_accent-blue" href="https://github.com/FreeRADIUS/">Visit our GitHub page</a>
            </div>
            <div class="columns medium-4">
                <img class="icon_medium" src="../img/patch-issues.svg" alt="">
                <p class="h5">Patch issues</p>
                <p>Found an issue? We accept patches for everything, from code, to documentation, and even to this website!</p>
                <a class="h5 undecorate text_accent-blue" href="https://github.com/FreeRADIUS/freeradius-server/blob/v4.0.x/doc/developer/contributing.rst">How to contribute</a>
            </div>
        </div>
        <div class="base_padding_v">
            <a href="/community/" class="button bg_accent-blue h5">Join the community</a>
        </div>
    </div>
</section>

<section class="bg_block-light text_centered lg_padding_v">
    <div class="wrapper">
        <h4 class="h2">Connect with us</h4>
        <span>Get help, help others, or just say "Hi!".</span>
        <p>Feel free to reach out; we're always happy to receive your feedback.</p>
        {% include social_feeds.html %}
    </div>
</section>

<section class="text_centered h5 base_padding_v clearfix">
    <div class="wrapper">
        <nav class="inline_nav">
            <ul>
                <li><img width="80" src="../img/mail-list.svg" alt=""></li>
                <li><span>Mailing Lists:</span></li>
                <li><a href="/support/">Users' list</a></li>
                <li><a href="/support/">Developers' list</a></li>
                <li><a href="/support/">Announce list</a></li>
            </ul>
        </nav>

    </div>
</section>

<section class="bg_block-navy lg_padding_v inner_padded_blocks home_support_block">
    <div class="wrapper">
        <div class="row">
            <div class="columns medium-6 base_padding_v">
                <div class="inner">
                    <h4 class="h2 text-white">Need a hand getting started?</h4>
                    <p class="text-white">Subscribe to our mailing lists to receive the latest FreeRADIUS updates and assistance from members of the FreeRADIUS community.</p>
                    <a href="/support/" class="button bg_accent-green h5">Support &amp; services</a>
                </div>
            </div>
            <div class="columns medium-6 base_padding_v">
                <div class="inner">
                    <h4 class="h2 text-white">We are the FreeRADIUS experts.</h4>
                    <p class="text-white">Critical deadline? We offer 24/7 commercial support through NetworkRADIUS, the official sponsor of the FreeRADIUS project.</p>
                    <a href="http://networkradius.com/"><img width="300" src="../img/networkradius.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
