---
layout: page
title: Releases
subtitle: Version downloads and complete release notes
subpage: true
permalink: /sub_projects/
hero: releases

subnav:
  data: releases_subnav

---

<div class="wrapper base_padding_v">
    <div class="row">
        <div class="columns medium-8 end">
            <h3 class="section-title">Sub-Projects</h3>
            <p>The FreeRADIUS project maintains a number of sub-projects to add RADIUS capabilities to popular web servers and authentication services. </p>
            <p>If your favourite application isn't supported, creating glue code is simple! Linking against libfreeradius-radius provides a complete toolkit for developing RADIUS authenticated services.</p>
        </div>
    </div>

    <!-- Sub-project tab navigation -->
    <nav class="inline_nav">
      <ul>
        <li><a class="subnav_link undecorate" ng-class="{active: trigger_active == '#pam-radius'}" tab-trigger ng-click="toggle('#pam-radius')" ng-init="trigger_active = '#pam-radius'">pam_radius {{trigger_active}}</a></li>
        <li><a class="subnav_link undecorate" ng-class="{active: trigger_active == '#mod-auth-radius'}" tab-trigger ng-click="toggle('#mod-auth-radius')">Mod_auth_radius</a></li>
        <li><a class="subnav_link undecorate" ng-class="{active: trigger_active == '#freeradius-client'}" tab-trigger ng-click="toggle('#freeradius-client')">Freeradius-client</a></li>
      </ul>
    </nav>

    <hr>

    <div>

      <!--Pam_radius content -->
      <section id="pam-radius" tab-content ng-show="active == '#pam-radius'" ng-init="active = '#pam-radius'">

        <a href="https://github.com/FreeRADIUS/pam_radius/archive/release_1_4_0.tar.gz" class="button bg_accent-blue detailed base_margin_b">
          <span class="h4 right-border">PAM Authentication and Accounting module</span>
          <span class="h5">Download v 1.4.0</span>
          <img class="icon_xsmall" src="/img/arrow-download.svg" alt="">
        </a>
{% comment %}
This isn't on github, but not on new web site either.
        <a href="ftp://ftp.freeradius.org/pub/radius/pam_radius-1.4.0.tar.gz.sig" class="h5 spaced-link">(sig)</a>
{% endcomment %}

        <p>This is the PAM to RADIUS authentication module. It allows any PAM-capable machine to become a RADIUS client for authentication and accounting requests. You will need a RADIUS server to perform the actual authentication.</p>

        <h5>Files included with the module</h5>
        <p>
        <a href="https://github.com/FreeRADIUS/pam_radius/blob/master/README.rst">README</a>
          <span class="italic">Introduction and documentation</span><br>
        <a href="https://github.com/FreeRADIUS/pam_radius/blob/master/INSTALL">INSTALL</a>
          <span class="italic">Installation instructions</span><br>
        <a href="https://github.com/FreeRADIUS/pam_radius/blob/master/USAGE">USAGE</a>
          <span class="italic">Module configuration and usage documentation</span><br>
        <a href="https://github.com/FreeRADIUS/pam_radius/blob/master/Changelog">Changelog</a>
          <span class="italic">What's changed</span></br>
        <a href="https://github.com/FreeRADIUS/pam_radius/blob/master/pam_radius_auth.conf">pam_radius_auth.conf</a>
          <span class="italic">Sample configuration file for telling the client the location of the RADIUS server.</span>
        </p>

      </section>

       <!--mod_auth_radius content -->
      <section id="mod-auth-radius" tab-content ng-show="active == '#mod-auth-radius'">

        <a href="https://github.com/FreeRADIUS/mod_auth_radius/archive/v1.6.0.tar.gz" class="button bg_accent-blue detailed base_margin_b">
          <span class="h4 right-border">The Authentication Module for Apache</span>
          <span class="h5">Download v 1.6.0</span>
          <img class="icon_xsmall" src="/img/arrow-download.svg" alt="">
        </a>

        <p>This is the <a href="http://www.apache.org/">Apache</a> RADIUS authentication module. It allows any Apache web-serve to become a RADIUS client for authentication and accounting requests.</p>

        <h5>Module building and configuration</h5>
        <p>Configure this module into Apache by going to the Apache root directory, and typing:</p>

        <pre>
           <span class="h5 pull_right block">Lang</span>
          ./configure --add-module=LOCATION/mod_auth_radius.c
        </pre>

        <p>where LOCATION is the directory where the module source file resides. Then, type:</p>

        <pre>
          <span class="h5 pull_right block">Lang</span>
          make
        </pre>

        <p>Alternatively, if you've already built and installed Apache with dynamic modules, you should be able to install this module via:</p>

        <pre>
          <span class="h5 pull_right block">Lang</span>
          apxs -i -a -c mod_auth_radius.c
        </pre>

        <p>You should add your additional site configuration options to the configure line, above. Please read the README file for further information.</p>


        <h5>Files included with the module</h5>
        <p>
        <a href="https://github.com/FreeRADIUS/mod_auth_radius/blob/master/README.asciidoc">README</a>
          <span class="italic">Introduction and documentation</span><br>
        <a href="https://github.com/FreeRADIUS/mod_auth_radius/blob/master/httpd.conf">httpd.conf</a>
          <span class="italic">Sample HTTPD configuration file for RADIUS attributes, with additional comments and documentation.</span><br>
        <a href="https://github.com/FreeRADIUS/mod_auth_radius/blob/master/htaccess">htaccess</a>
          <span class="italic">Sample .htaccess file</span><br>
        <a href="https://github.com/FreeRADIUS/mod_auth_radius/blob/master/mod_auth_radius.c">mod_auth_radius.c</a>
          <span class="italic">C source file for Apache 2.4.x</span><br>
        </p>

        <h5>Updates</h5>

        <p>The latest version of the module is 1.6.0.<br>
        For the latest source code, see the GitHub site:<br>
        <a href="https://github.com/FreeRADIUS/mod_auth_radius">https://github.com/FreeRADIUS/mod_auth_radius</a></p>

        <h5>Author contact</h5>

        <p>Alan DeKok &lt;<a href="mailto:aland@freeradius.org">aland@freeradius.org</a>&gt;</p>

        <h5>Related pages</h5>
        <p>
        <a href="http://www.apache.org/httpd.html">The Apache HTTP server project</a><br>
        <a href="http://httpd.apache.org/modules/">The Apache Module Registry</a>
        </p>
      </section>

      <!--freeradius-server content -->
      <section id="freeradius-client" tab-content ng-show="active == '#freeradius-client'">
        <a href="https://github.com/FreeRADIUS/freeradius-client/archive/release_1_1_7.tar.gz" class="button bg_accent-blue detailed base_margin_b">
          <span class="h4 right-border">The FreeRADIUS Client Library</span>
          <span class="h5">Download v 1.1.7</span>
          <img class="icon_xsmall" src="/img/arrow-download.svg" alt="">
        </a>

        <p>FreeRADIUS Client is a framework and library for writing RADIUS Clients which additionally includes radlogin, a flexible RADIUS aware login replacement, a command line program to send RADIUS accounting records and a utility to query the status of a RADIUS server. All of these programs are based on a library that lets you develop a RADIUS-aware application in less than 50 lines of C code. It is highly portable and runs on Linux, many BSD variants and Solaris.</p>

        <p>See the <a href="http://wiki.freeradius.org/project/Radiusclient">Wiki</a> for more information.</p>

        <h5>Version 1.1.7</h5>

        <p>Version 1.1.7 has a large number of fixes, but is still compatible with the code from 1.1.6. The ChangeLog is:</p>

        <ul>
          <li>Allow "configure --with-nettle" to use nettle MD5 implementation. Patch from Nikos Mavrogiannopoulos.</li>
          <li>Clean up generation of random numbers. Patch from Nikos Mavrogiannopoulos.</li>
          <li>Update BSD license as permitted by Christos Zoulas.</li>
          <li>Define PW_MAX_MSG_SIZE for maximum message sice. Patch from Nikos Mavrogiannopoulos.</li>
          <li>Allow the dictionary file parser to understand BEGIN-VENDOR / END-VENDOR as with FreeRADIUS server. Patch from Nikos Mavrogiannopoulos.</li>
          <li>Added support for IPv6. Patch from Nikos Mavrogiannopoulos.</li>
          <li>Don't crash if a config option is unset. Patch from Nikos Mavrogiannopoulos.</li>
          <li>Fix encoding of "date" attributes. Patch from Christian Schoch.</li>
          <li>Build fixes from Sven Neuhaus, Ghennadi Procopciuc, Daniel Pocock, and gureedo.</li>
          <li>Fix memory leaks. Patches from Alex Massover, William King, gureedo, and FreeSWITCH.</li>
          <li>Fixes to retry algorithm. Patch from Lewis Adam.</li>
          <li>Zero out secret fields. Patch from Scott Neugroschl.</li>
          <li>Update the dictionaries. Patches from Bogdan-Andrei Iancu and gureedo.</li>
          <li>Make the library thread-safe. Based on a patch from Alex Massover.</li>
          <li>Made rc_avpair_log thread-safe by using a buffer supplied by the caller. Patch from Alex Massover.</li>
          <li>Removed lock file for sequence number. It isn't needed.</li>
          <li>Use poll() where possible to avoid issues with FD_SETSIZE. Patch from Alfred E. Heggestad.</li>
          <li>Set Acct-Delay-Time in Accounting-Request packets. Patch from Alfred E. Heggestad.</li>
        </ul>

          <h5>License</h5>

          <p>Unlike the FreeRADIUS Server which is available under the GPL, or libfreeradius which is available under the LGPL, the FreeRADIUS Client library is distributed under the BSD license. This is to facilitate the maximum possible use of correct, up-to-date, maintained code in as many other RADIUS Client implementations as possible.</p>

          <p>The FreeRADIUS team collectively has decades of RADIUS experience, and is active in defining new <a href="http://freeradius.org/press/2007.html#rfc5080">RADIUS standards</a>. We have worked with many different RADIUS servers and clients, and know what it takes to make a client that is robust, feature-rich, and inter-operable. To that end, we are releasing this library under the BSD license, to lower your costs in developing a RADIUS client, and to increase the likelihood that your client will inter-operate with every other implementation.</p>

          <p class="italic">We want you use this code in your application whether it is Open Source or not.</p>

          <p>Please see the COPYRIGHT file in the radiusclient source code for more details.</p>

          <h5>History</h5>

          <p>Radiusclient used to live at http://www.cityline.net/~lf/radius/ but seems to be no longer maintained (Tarballs are still available from ftp://ftp.cityline.net/pub/radiusclient/). It does however still ship with some Linux distributions including SUSE Linux.</p>

          <p>A fork of the original radiusclient called radiusclient-ng is used as the basis of the RADIUS support in SER and OpenSER.</p>

          <p>In late 2006 it was decided that the FreeRADIUS Project should adopt the latest code from radiusclient-ng cvs as the basis of a new FreeRADIUS client package. The intention is to roll some of the client functionality of the FreeRADIUS server into this separate client package and to make the FreeRADIUS suite a one stop shop for all people wishing to use and develop RADIUS related applications.</p>

          <p>The first version released by the FreeRADIUS project is 1.1.5. This version fixes an MD5 related endian issue and introduces a client configuration framework to the library which lends itself to allowing embedded radius client functionality. Development of the codebase is ongoing.</p>

      </section>
    </div>
</div>

