---
layout: page
navtitle: Support
title: Support & Services
subtitle: Having trouble and need a hand? Find answers here.
permalink: /support/
navorder: 600
hero: support

subnav:
    data: support_subnav
---

<div class="wrapper base_padding_v">
    <h3 class="section-title">Stay up to date, sign up for FreeRADIUS lists</h3>
    <div class="row">
        <div class="columns medium-8">
            <p>There are several mailing lists associated with the FreeRADIUS server project. All of our lists use Mailman, and your subscriptions can be easily adjusted via the Mailman web interface. Instructions to subscribe and manage your account can be found by clicking on the list that interests you. </p>
        </div>
        <div class="quick-links columns medium-4 text_accent-blue">
            <a href="https://github.com/FreeRADIUS/freeradius-server/issues/new">
                <div class="link block">
                    <img src="../img/debug.svg" alt="" class="icon">
                    <span class="h5 text-mid">Report a bug</span><img class="arrow" src="../img/arrow-right.svg">
                </div>
            </a>
            <a href="http://stackoverflow.com/questions/tagged/freeradius">
                <div class="link block">
                    <img src="../img/faq.svg" alt="" class="icon">
                    <span class="h5 text-mid">F.A.Q. on Stack Overflow</span><img class="arrow" src="../img/arrow-right.svg">
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Accordion section goes here -->
<section>
    <div class="wrapper">
        <div class="accented-block accent-light-blue block base_margin_b">
            <div tab-trigger ng-click="toggle('#user_list', true)">
                <div class="row">
                    <div class="column medium-11">
                        <h4 class="h5">User's List</h4>
                        <p class="h6">General information and discussion for anyone running the server.</p>
                    </div>
                    <div class="column medium-1">
                        <img ng-show="active == '#user_list'" src="../img/close.svg" class="icon_xsmall open-toggle">
                        <img ng-hide="active == '#user_list'" src="../img/open.svg" class="icon_xsmall open-toggle">
                    </div>
                </div>
            </div>
            <div id="user_list" class="base_padding_v" tab-content transition="slide">
                <a href="http://lists.freeradius.org/mailman/listinfo/freeradius-users" class="button bg_accent-light-blue detailed base_margin_b"><span class="h4 right-border">freeradius-users@lists.freeradius.org</span><span class="h5">Subscribe to this list</span><img class="icon_xsmall" src="/img/arrow-right.svg" alt=""></a>
                <h5>Please note</h5>
                <p>The <span class="italic">freeradius-users</span> mailing list is for users of the FreeRADIUS server only, not any other RADIUS servers!</p>
                <h5>Subscribing by email</h5>
                <p>You may use email to manage you subscription; send a mail to freeradius-users-request@lists.freeradius.org with the word <span class="italic">help</span> in the message body for further instructions.</p>
                <h5>Unsubscribing from the list</h5>
                <p>The <a href="http://lists.freeradius.org/mailman/listinfo/freeradius-users">subscription page</a> is also used for unsubscribing. Simply enter your email address in the lowest box on the page and click "Unsubscribe or edit options". This tool is also helpful for managing subscriptions and password reminders.</p>
                <h5>Archive of the list</h5>
                <p>There is an <a href="http://lists.freeradius.org/pipermail/freeradius-users/">archive of the list</a> available on the web.</p>
            </div>
        </div>
        <div class="accented-block accent-blue block base_margin_b">
            <div tab-trigger ng-click="toggle('#developer_list', true)">
            <div class="row">
                <div class="column medium-11">
                <h5>Developer's List</h5>
                <p class="h6">For developers writing code for FreeRADIUS. The content is largely technical and related to the architecture and design of the server.</p>
                </div>
                <div class="column medium-1">
                    <img ng-show="active == '#developer_list'" src="../img/close.svg" class="icon_xsmall open-toggle">
                    <img ng-hide="active == '#developer_list'" src="../img/open.svg" class="icon_xsmall open-toggle">
                </div>
                </div>
            </div>
            <div id="developer_list" class="base_padding_v" tab-content transition="slide">
                <a href="http://lists.freeradius.org/mailman/listinfo/freeradius-devel" class="button bg_accent-blue detailed base_margin_b"><span class="h4 right-border">freeradius-devel@lists.freeradius.org</span><span class="h5">Subscribe to this list</span><img class="icon_xsmall" src="/img/arrow-right.svg" alt=""></a>
                <h5>Subscribing by email</h5>
                <p>You may use email to manage you subscription; send a mail to freeradius-devel-request@lists.freeradius.org with the word <span class="italic">help</span> in the message body for further instructions.</p>
                <h5>Unsubscribing from the list</h5>
                <p>The <a href="http://lists.freeradius.org/mailman/listinfo/freeradius-devel">subscription page</a> is also used for unsubscribing. Simply enter your email address in the lowest box on the page and click "Unsubscribe or edit options". This tool is also helpful for managing subscriptions and password reminders.</p>
                <h5>Developers only, please.</h5>
                <p>Please keep in mind that the developer list is intended only for developers to discuss the design and architecture of the server. If you are not a developer, stick to the users or announce lists. Anyone posting questions regarding the configuration of the server to the developer list will be unsubscribed.</p>
                <h5>Archive of the list</h5>
                <p>There is an <a href="http://lists.freeradius.org/pipermail/freeradius-devel/">archive of the list</a> available on the web.</p>
            </div>
        </div>
        <div class="accented-block accent-dark-blue block base_margin_b">
            <div tab-trigger ng-click="toggle('#announce_list', true)">
                <div class="row">
                    <div class="column medium-11">
                        <h5>Announce List</h5>
                        <p class="h6">For announcements about FreeRADIUS, including new versions and security issues.</p>
                    </div>
                    <div class="column medium-1">
                        <img ng-show="active == '#announce_list'" src="../img/close.svg" class="icon_xsmall open-toggle">
                        <img ng-hide="active == '#announce_list'" src="../img/open.svg" class="icon_xsmall open-toggle">
                    </div>
                </div>
            </div>
            <div id="announce_list" class="base_padding_v" tab-content transition="slide">
                <a href="http://lists.freeradius.org/mailman/listinfo/freeradius-announce" class="button bg_accent-dark-blue detailed base_margin_b"><span class="h4 right-border">freeradius-announce@lists.freeradius.org</span><span class="h5">Subscribe to this list</span><img class="icon_xsmall" src="/img/arrow-right.svg" alt=""></a>
                <p>The freeradius-announce mailing list is for people who want to hear about new versions of the server via a very low-volume list.</p>
                <h5>Subscribing by email</h5>
                <p>You may use email to manage you subscription; send a mail to freeradius-announce-request@lists.freeradius.org with the word <span class="italic">help</span> in the message body for further instructions.</p>
                <h5>Unsubscribing from the list</h5>
                <p>The <a href="http://lists.freeradius.org/mailman/listinfo/freeradius-announce">subscription page</a> is also used for unsubscribing. Simply enter your email address in the lowest box on the page and click "Unsubscribe or edit options". This tool is also helpful for managing subscriptions and password reminders.</p>
                <h5>Archive of the list</h5>
                <p>There is an <a href="http://lists.freeradius.org/pipermail/freeradius-announce/">archive of the list</a> available on the web.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg_block-light lg_padding_v">
    <div class="wrapper">
        <h4>House Rules</h4>
        <h5>No HTML on the lists</h5>
        <p>While Mailman will do its best to strip or convert HTML in mailing list posts, it will occasionally end up removing all body content from the message, causing the message to be discarded. If you are using a mail program that is HTML capable such as Outlook, Thunderbird, or Apple mail, please disable HTML message composition to ensure your message makes it to the list.</p>

        <h5>Internet stlye quoting</h5>
        <p>When replying to a message, quote only the relevant parts of the previous message, and reply below every quoted part. Also make sure you have set the quoting character to "> " if your mailer has such a setting (like Outlook). This is a non-HTML, internet standard list -- things like "the original message is in blue my answer is in red" don't work. In Microsoft Outlook this is called <a href="http://www.google.com/search?q=internet+quoting+in+outlook">Internet-style quoting</a>.</p>

        <h5>Starting a new subject</h5>
        <p>When you start a new subject, don't do it by replying to a previous message. Not even if you change the subject header. People use threaded mail readers, and even if you do change the subject header it still looks like your message is part of the discussion you are replying to. Simply start a new fresh message to the list.</p>

{% comment %}
        <h5>Read the FAQ</h5>
        <p>Before asking the obvious, please check the FAQ at <a href="http://wiki.freeradius.org/guide/FAQ">http://wiki.freeradius.org/guide/FAQ</a> to see if your question has been answered already. (The FAQ list is pretty out-of-date, though.)</p>
{% endcomment %}

        <h5>Read the Netiquette Guidelines</h5>
        <p>The netiquette has a few rules of behaviour that are applicable to all means of electronic communication. The netiquette is also known as <a href="http://www.faqs.org/rfcs/rfc1855.html">RFC1855</a>.</p>
    </div>
</section>